#TopMenu{
    -fx-background-color: #ff9278;
}

#BottomMenu{
-fx-background-color: #ffef79;
}

#JFxLensName{
    -fx-font-size: 30;
}

#JFxLensName:showing{
    -fx-font-size: 20;
}

#addNewLight{
     -fx-background-color: #f477ff;
 }

#addNewLight:hover{
    -fx-background-color: #361e38;
    -fx-text-fill: white;
}

#deleteThisLight{
    -fx-background-color: #77ff1b;
}