#TopMenu {
    -fx-background-color: #ff9278;
}

#BottomMenu {
    -fx-background-color: #ffef79;
}

#choseLensMaterialBtn{
    -fx-background-color: #757bb1;
}

#choseLensMaterialBtn:hover {
    -fx-background-color: #2d55a9;
    -fx-text-fill: white;
}


#DemoName:hover {
    -fx-text-fill: white;
}

#addNewLight {
    -fx-background-color: #77ff6f;
}

#addNewLight:hover {
    -fx-background-color: #1aa40d;
    -fx-text-fill: white;
}

#deleteThisLight {
    -fx-background-color: #ff8a80;
}

#deleteThisLight:hover {
    -fx-background-color: #ff3c3c;
    -fx-text-fill: white;
}

#deselectLightBtn{
    -fx-background-color: #ffffff;
}

#deselectLightBtn:hover{
    -fx-background-color: #b29817;
    -fx-text-fill: white;
}

#lightColor_Red {
    -jfx-selected-color: red;
    -jfx-unselected-color: red;
    /*-fx-text-fill: red;*/
}

#lightColor_Green {
    -jfx-selected-color: green;
    -jfx-unselected-color: green;
    /*-fx-text-fill: green;*/
}

#lightColor_Blue {
    -jfx-selected-color: blue;
    -jfx-unselected-color: blue;
    /*-fx-text-fill: blue;*/
}

